a
  text-decoration none




.sort
  //color #000
  a
    color #000
    //text-decoration none
    margin 0 1em
    &:hover
      text-decoration underline
    &.active
      f-b()
      text-decoration underline
    &:after
      content ' ⌗'
      color #999

.sort_alphabet
  padding-top 1em
  color #999
  font-size 1.2em //25px
  a
    color #999
    padding 0 1ex
    //text-decoration none
    &:hover
      text-decoration underline


.more
  //clear both
  //padding 2em 0
  font-size 16px
  font-style italic
  display block
  color #999
  &:hover
    text-decoration underline




[placeholder]
  font-size 16px
  //font-family: //arial
  //padding 0 1em

textarea
  padding: 1em

input,textarea
  border 1px solid #c4c4c4

  //padding-bottom: 1em



//input[type="text"],
//input[type="search"]



input
  margin-bottom 1em

  height 36px
  line-height 36px
  padding: 0 1em

//RESET
//input[type="checkbox"], input[type="radio"]
input[type="checkbox"]
  height auto
  //line-height 36px
  //padding: 0 1em


input,button,textarea
  &:focus
    box-shadow none
    //outline none to norm



//button, input[type="submit"]

button,
.btn,
.buy1click,
input[type="submit"]
  cursor pointer
  padding 0 2em

  border 0
  border-radius 3px
  font-size 16px

  line-height 36px
  height 37px


button, .btn, input[type="submit"]
  color #FFF
  background linear-gradient(90deg, #6d99ff 0%, #3c6cde 100%)
  &:hover
    background  #6491f9
  &:active
    background  #4b7cef

.btn
  display inline-block
  text-decoration none

.buy1click
  color #000
  border 1px solid #b4b4b4
  background: linear-gradient(0deg, #e0e0e0 0%, #ffffff 100%)
  &:hover
    background #f8f8f8
  &:active
    background linear-gradient(0deg, #ffffff 0%, #e0e0e0 100%)



btn-green()
  background #7cb342
  &:hover
    background  #95c561
  &:active
    background  #71a23c

.btn-green
  background #7cb342
  &:hover
    background  #95c561
  &:active
    background  #71a23c
