a
  text-decoration none







[placeholder]
  font-size 16px
  //font-family: //arial
  //padding 0 1em

textarea
  padding: 1em

input,textarea
  border 1px solid #c4c4c4

  //padding-bottom: 1em



//input[type="text"],
//input[type="search"]



input
  margin-bottom 1em

  height 36px
  line-height 36px
  padding: 0 1em

//RESET
//input[type="checkbox"], input[type="radio"]
input[type="checkbox"]
  height auto
  //line-height 36px
  //padding: 0 1em


input,button,textarea
  &:focus
    box-shadow none
    //outline none to norm



//button, input[type="submit"]
button, .btn, input[type="submit"]
  cursor pointer
  padding 0 2em
  color #FFF
  border 0
  border-radius 3px
  font-size 16px

  line-height 36px
  height 37px

  background linear-gradient(90deg, #6d99ff 0%, #3c6cde 100%)
  &:hover
    background  #6491f9
  &:active
    background  #4b7cef


.btn
  display inline-block
  text-decoration none

btn-green()
  background #7cb342
  &:hover
    background  #95c561
  &:active
    background  #71a23c

.btn-green
  background #7cb342
  &:hover
    background  #95c561
  &:active
    background  #71a23c
