a
  text-decoration none




// .subnav
//   position absolute
//   right 0
//   top 50px
//   color  #999 //для разделителя
//   a
//     color  #999
//     //text-decoration none
//     &:hover
//       border-bottom 1px dashed
//     &.tab_current
//       text-decoration underline
//       border-bottom 0






.sort
  //color #000
  a
    color #000
    //text-decoration none
    position relative
    margin 0 1em
    &:hover
      text-decoration underline
    &.active
      f-b()
      text-decoration underline
    &:after
      position absolute
      right -.8em
      top 1px
      content '\25BE'
      //content '\2000\25BE'
      font-family Arial
      color #50aaf8

.sort_alphabet
  padding-top 1em
  color #999
  font-size 1.2em //25px
  a
    color #999
    padding 0 1ex
    //text-decoration none
    &:hover
      text-decoration underline


.more
  //clear both
  //padding 2em 0
  font-size 16px
  font-style italic
  display block
  color #999
  &:hover
    text-decoration underline




[placeholder]
  font-size 16px
  //font-style italic

textarea
  padding: 1em

input,textarea,select
  border 1px solid #c4c4c4

  //padding-bottom: 1em



//input[type="text"],
//input[type="search"]


select
  vertical-align top

input, select
  margin-bottom 1em

  height 36px
  line-height 36px
  padding: 0 1em

//RESET
input[type="checkbox"], input[type="radio"]
  height auto
  //line-height 36px
  //padding: 0 1em


input,button,textarea
  &:focus
    box-shadow none
    //outline none to norm



//button, input[type="submit"]

button,
.btn,
input[type="submit"]
  cursor pointer
  padding 0 2em

  border 0
  border-radius 3px
  font-size 16px

  line-height 36px
  height 37px


button, .btn, input[type="submit"]
  color #FFF
  background linear-gradient(90deg, #6d99ff 0%, #3c6cde 100%)
  &:hover
    background  #6491f9
  &:active
    background  #4b7cef

.btn
  display inline-block
  text-decoration none


.plus,
.minus
  width 14px
  height 17px
  line-height 16px
  padding 0

.del
  background url(../img/del.svg) center no-repeat
  &:hover, &:active
    background url(../img/del.svg) center no-repeat #EEE





// -MOZ
.buy1click
  color #000
  border 1px solid #b4b4b4
  background: linear-gradient(0deg, #e0e0e0 0%, #ffffff 100%)
  background: -moz-linear-gradient(0deg, #e0e0e0 0%, #ffffff 100%)
  &:hover
    background #f8f8f8
  &:active
    background linear-gradient(0deg, #ffffff 0%, #e0e0e0 100%)



btn-green()
  background #7cb342
  &:hover
    background  #95c561
  &:active
    background  #71a23c

.btn-green
  background #7cb342
  &:hover
    background  #95c561
  &:active
    background  #71a23c





//В наличии
.status
  &:before
    content ''
    display inline-block
    width 1em
    height 12px//1em
    padding-right 6px
    //background #000
    //background url(../img/status_in-stock.png) center no-repeat

  &.in-stock
    color #78a100
    &:before
      background url(../img/status_in-stock.png) center no-repeat



  //Предзаказ
  &.pre-order
    color #555
    &:before
      background url(../img/status_pre-order.png) center no-repeat

  //Ждем поступления
  //We are waiting for admission
  &.waiting
    color #ff8400
    &:before
      background url(../img/status_waiting.png) center no-repeat

  //Снят с производства
  &.out-production
    color #ff0000
    &:before
      background url(../img/status_out-production.png) center no-repeat








//Новинка
.f-new
  background #87cc6b
//Акция
.f-alert
  background #ff8400
//Скидка
.f-discount
  background #7ec3ff




._standards
  li
    display inline-block
    & + li
      margin-left 10px

    &:before
      content '⚫ ' //простой маркер •

    &._ISO:before
      color #ff0000

    &._TY:before
      color #ffae00

    &._CAS:before
      color #808b08

    &._GOST:before
      color #008abb
