.TODO_1 //костыль
  div,form
    border 2px solid #70ba4f
    //padding 0 10px
    text-align center
    margin 1em 0
  form
    padding 1em


.article_nav
  padding-left 1em
  margin 2em 0 4em
  border-right 5px solid #008fff
  a
    color #000
    &:hover
      text-decoration underline

  ul
    padding-left 0
  li
    f-b()
    line-height 2em
    li
      f-n()
      &:before
        content '— '







article
  overflow auto
  padding 0 3em 0 8em

  // h1
  //   font-size 36px
  // h2
  // h3
  // h4

  ol ul, ul ol, ul ul, ol ol
    padding-left 1em
  ul li:before
    content '● '
    padding-right 1ex
    color #5281dc



  .strong
    margin 2em 0
    padding 1em 2em
    background #f7f3eb
    border 1px solid #9d9d9d

  figure
    margin 3em -2em 2em
  figcaption
    //margin 1em -3em
    color #777
    font-style italic


.prev-next_article
  margin-top 4em
  div
    width 50%
    float left
  .prev
    padding-right 2em

  .next
    padding-left 2em
    text-align right
