#bigNav
  height 100vh
  //height auto
  width 100vw

  //position absolute
  position fixed
  //overflow scroll

  z-index 1000 // > slick-999
  background rgba(0, 143, 255, 0.95)

  display none
  color #FFF

  padding-top 80px

  h2
    font-size 24px
  nav
    span(1/4)
    a

      display block
      margin 1em

      color #fff
      font-size 16px
