#header .cart
  float right
  color #000
  border 1px solid #c4c4c4
  background linear-gradient(0deg, #e0e0e0 0%, #ffffff 100%)
  &:hover
    background #ececec
  &:active
    background linear-gradient(0deg, #ffffff 0%, #e0e0e0 100%)



#bigNav .cart
  border 1px solid #FFF
  display inline-block
  //float left
  &:hover
    background #089EFD
    text-decoration none
  &:active
    background #0788EC


.cart
  cursor pointer
  //text-decoration none

  height 47px
  //width 120px
  padding 0 20px
  line-height 47px
  border-radius 5px

  position relative

  //helper:hover
  &:after
    content ''
    position absolute
    bottom -40px
    right 0
    width 100%
    height 40px
    background #000


  .cart_sum-prod
    font-style normal
    background #ff4c4c
    position absolute
    top -10px
    right -10px

    width 25px
    height 25px
    border-radius 50%

    text-align center
    line-height 25px
    font-size 11px
    color #FFF

  &:hover
    #cart_order
      display block

#cart_order
  display none

  &:after
    content ''
    position absolute
    width 100%
    left 0
    bottom -4px
    border-top 4px dotted #FFF

  &:before
    content ''
    position absolute
    //width 0 //2
    //height 0 //20px
    right 40px
    top -20px
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #FFF transparent;




  position absolute
  right 0
  top 60px
  z-index 10
  width 320px

  background #FFF
  padding 1em //1.4em 1.6em 2.4em
  box-shadow 0 0 12px
  //reset
  text-align left
  line-height 1.4
  border-radius 0

  ol
    margin 0 0 0 1.2em
    padding 0
  li
    border-bottom: 1px dotted #333
    span, b
      background #fff
      margin-bottom -1px
      position relative
      bottom -1px
    b
      float right

  //center
