#Checkout
  [placeholder]
    font-style italic

  > label
    display block
    cursor pointer
    &:hover
      input
        border-color #008EFD
    input:focus
      border-color #008EFD
  b
    display inline-block
    width 200px

  input[type="text"]
    width 380px
  .div-address
    input[type="number"]
      width 130px
    select ~ input
      display block
      margin-left 204px







#orderTable
  width 100%
  counter-reset num
  th
    background #dee1da
    text-align left
  tr
    background #FFF
    &:hover
      background #FDFDF3 //gainsboro //#fdfdf3
      border-bottom 1px solid #008EFD


  td
    &:first-child
      padding-left 1em
      &:before
        counter-increment num
        content counter(num) ". "
        f-b()

  img
    //display block
    margin-left 1em
    vertical-align middle
