#cities,#cities_list,#output
  position absolute
#cities
  top 0
  right 0
  width 600px
#output
  cursor pointer
  i
    font-style normal
    padding-right 1em
    &:before
      content ''
      margin-right 4px
      display inline-block
      width 14px
      height 35px
      vertical-align bottom


  #output_city
    &:before
      background url(../img/i-output_city.png) center no-repeat
    &:after
      content '\2000\25BE' //' ▾' // U+25BE &#9662;
    &.active:after
      content '\2000\25B4' //' ▴' //	U+25B4  &#9652; ▾≡✘▲▼

  #output_tel:before
    background url(../img/i-output_tel.png) center no-repeat
  #output_time:before
    background url(../img/i-output_time.png) center no-repeat

#cities_list
  display none
  z-index 1
  box-shadow 0px 1px 6px 0px rgba(0, 0, 0, 0.4)
  list-style none
  margin 0
  padding .5em 1.5em
  position absolute
  top 35px
  left -1em
  background #FFF
  li
    cursor pointer
    color #000
    &:hover
      text-decoration underline
