.catalog_fltr
  background #f6f5f3
  padding 2em 0
  margin-top -4em
  border-top 5px solid #008fff



.catalog
  cf()
  color #000

  div
    span(1/4)

    margin-bottom 2em
    li
      font-weight bold

  li a
    color #000


#CTLG_block
  cf()
  padding 2em 0

  &>*
    col(1/3)

  h3
    font-size 24px
  form, div
    border 2px solid #70ba4f
    padding 10px
    text-align center

  input
    width 100%
