#FILTER
 cf()  
 padding 4em 0

#LP

  border-radius 10px
  border 1px solid #50aaf8
  
  width 300px
  float left
  padding 1em


  label
    display block
    cursor pointer



#grid
  float right
  width 960px
  .item
    col(1/3)
