#FILTER
 cf()
 padding 4em 0


#LP
  width 300px
  float left
 

  
#filterForm

  padding 1em
  border-radius 10px
  border 1px solid #50aaf8

  input[type="text"]
    width 38%
  

  label
    display block
    cursor pointer

  + div
    
      text-align center
      p
        padding 2em 1em 0
      b
        display block
        font-size 1.2em
        margin .5em 0 0
      .btn
        padding 0 1em 
    







#youSearched
  background #cae8ff
  padding-bottom 3em
  border-bottom 6px solid #008fff
  cf()


  .item
    
    col(1/4)
    background rgba(255, 255, 255, 0.4)
    padding 1em
    
    img
      float left
      margin-right 1em
    p
      margin 0
      overflow auto
      b
        margin-top .6em
        display block
        


.category_intro_L
  width 60%
  float left

.RelatedArticle
  //float right
    
  width 200px
  border 2px dashed #008fff
  padding 1em
  text-align center
  color #999
  position relative
  
  &:before
    position absolute
    content 'Статья по теме'
    
  