#filterForm

  h3
    margin .8em 0 1em

  padding 1em 1em 0
  border-radius 10px
  border 1px solid #50aaf8

  input[type="text"]
    width 40%

  input[type="search"]
    vertical-align top


  label
    display block
    cursor pointer

  + div

      text-align center
      p
        padding 2em 1em 0
      b
        display block
        font-size 1.2em
        margin .5em 0 0
      .btn
        padding 0 1em



.LP_search
  position relative
  button
    padding 0 1em
    position absolute
    right 0
    top 0
    height: 36px






#youSearched
  background #cae8ff
  padding-bottom 3em
  border-bottom 6px solid #008fff
  cf()


  .item

    col(1/4)
    background rgba(255, 255, 255, 0.4)
    padding 1em

    img
      float left
      margin-right 1em
    p
      margin 0
      overflow auto
      b
        margin-top .6em
        display block





.RelatedArticle
  float right
  width 300px
  border 1px dashed #008fff
  padding 1em
  margin-left 2em

  text-align center
  color #999
  font-style italic
  position relative

  &:before
    position absolute
    top -12px
    left 50%
    transform translateX(-50%)

    content 'Статья по теме'
    color #008fff
    background #F6F5F3
    padding 0 1em

  img
    display block
    margin auto
