#SHOP
 cf()
 padding-top 4em
 //position relative



.LP
  width 260px //300px
  float left
  //position absolute



#grid
  float right
  //margin-left 320px
  width 910px

  h2
    font-size 28px

#grid_items


  .item
    //span(1/3)
    float left
    width 31%
    margin 0 2% 2% 0


    padding 1em
    border 1px solid #e0d8d5
    border-radius 5px


    figure
      margin 0
      position relative
      img
        width 100%
        display block

      i
        position absolute
        z-index 1
        bottom 0
        color #FFF
        padding 0 1em 2px
        font-size 12px


    //Цена
    b
      display block
      //f-b()
