#bigNav
  height 100vh
  width 100vw

  position fixed
  z-index 99
  background rgba(0, 143, 255, 0.9)

  display none

  color #FFF

  padding-top 80px
  ul
    span(1/4)













.topnav
  color  #fff
  position fixed
  z-index 100
  width 100%
  background #008efd
  height 35px
  line-height 34px


  a
   color #FFF
   text-decoration none
  svg
    display inline-block
    vertical-align middle



#cities,#cities_list,#output
  position absolute
#cities
  top 0
  right 0
  width 600px
#output
  cursor pointer
  i
    font-style normal
    padding-right 1em
    &:before
      content ''
      margin-right 4px
      display inline-block
      width 14px
      height 35px
      vertical-align bottom


  #output_city
    &:before
      background url(../img/i-output_city.png) center no-repeat
    &:after
      content ' ▴'
    &.active:after
      content ' ▾'

  #output_tel:before
    background url(../img/i-output_tel.png) center no-repeat
  #output_time:before
    background url(../img/i-output_time.png) center no-repeat

#cities_list
  z-index 1
  box-shadow 0px 1px 6px 0px rgba(0, 0, 0, 0.4)
  list-style none
  margin 0
  padding .5em 1.5em
  position absolute
  top 35px
  left -1em
  background #FFF
  li
    cursor pointer
    color #000
    &:hover
      text-decoration underline












#cart_order
  box-shadow 0 0 12px


  position absolute
  right 0
  top 60px
  z-index 10
  width 400px

  background #FFF
  padding 0 1em 1em

  //reset
  text-align left
  line-height 1.4
  border-radius 0

  li b
    float right
    //text-align right



#cart
  cursor pointer
  float right
  height 47px
  //width 120px
  padding 0 20px
  line-height 47px

  color #000
  border 1px solid #c4c4c4
  border-radius 5px
  background linear-gradient(0deg, #e0e0e0 0%, #ffffff 100%)

  &:hover
    background #ececec
  &:active
    background linear-gradient(0deg, #ffffff 0%, #e0e0e0 100%)

  position relative

  .cart_sum-prod
    font-style normal
    background #ff4c4c
    position absolute
    top -10px
    right -10px

    width 25px
    height 25px
    border-radius 50%

    text-align center
    line-height 25px
    font-size 11px
    color #FFF


header
  padding-top 70px
  color  #fff

  background url(../img/bg_header.jpg)
  height 640px

  text-align center

  h1
    font-size 30px
  h2
    font-size 14px
    line-height 20px

  ul
    list-style none
    padding 110px 0 70px
    li
      float left
      width 25%
      position relative
      font-size 20px
      text-shadow 0px 1px 0px rgba(0, 0, 0, 0.25)

      &:before
        content ''
        position absolute
        left 50%
        top -70px
        transform translateX(-50%)
        width 69px
        height 69px
      &:nth-of-type(1):before
        background url(../img/i-h_1.png) no-repeat
      &:nth-of-type(2):before
        background url(../img/i-h_2.png) no-repeat
      &:nth-of-type(3):before
        background url(../img/i-h_3.png) no-repeat
      &:nth-of-type(4):before
        background url(../img/i-h_4.png) no-repeat



  .tabs a
      color #FFF
      text-decoration none
      font-size 16px
      //line-height 22px
      text-shadow 0px 1px 2px rgba(0,0,0,.4)
      padding .5em 1.2em .8em
      display inline-block


      &:hover
        text-decoration underline
      &.active
        text-decoration none
        background #008fff
        border-radius 5px 5px 0 0

  .form
    background #008fff
    padding 5px
    border-radius 12px
    div
      border-radius 8px
      position relative
      z-index 1
    & > div
      padding 6px
      background #EDEDED
      & > div
        padding 1em
        border 1px solid rgba(0, 0, 0, .15)
        box-shadow 0px 0px 5px 0px rgba(0, 0, 0, 0.2)
        background linear-gradient(0deg, #dce3e8 0%, #f4f8fb 100%)



    img
      float left


    input[type='search']
      width 731px
      height 47px
      //reset
      border-radius 5px
      margin-bottom 0

    button
      border-radius 0 3px 3px 0
      height 47px
      line-height 46px
      margin-left -8px
