#MS_4
  //padding-top 50px

  text-align center

  h2 a
    color inherit
    line-height 1

    text-decoration none
    border-bottom 3px dotted #DDD



    &:hover
      //border-color #999
      border-bottom 2px solid #DDD

    &.active
      border-bottom 0 //reset
      background #ededed
      border-radius 5px
      //text-decoration none
      padding 0 30px 10px
