#MS_7

  //костыль!!!
  width 1040px
  margin 0 auto

  .review
    padding 1em 0 2em

    img
      width 163px
      height 214px
      float left
      margin-right 60px

  .review_txt
    float right
    width 800px //1000px
    border 2px solid #c2c2c2
    position relative
    padding 80px 1em 1em

    position relative
    &:before,
    &:after
      content ''
      position absolute
    &:before
      width 22px
      height 31px
      bottom 20px
      left -21px
      background url(../img/ugol.png) center no-repeat
    &:after
      position absolute
      z-index -1
      bottom -32px
      left 50%
      transform translateX(-50%)

      width 842px
      height 56px
      background url(../img/bg-review.png)


  .review_num,.review_from
    position absolute
    z-index 1
    background #FFF
  .review_num
    right 10px
    top -12px
    padding 0 .5em
    color #999

  .review_from
    top 10px
    left -50px
    background #FFF
    padding 10px 0 20px

    font-size 26px
    line-height 1
    i
      display block
      font-size 12px
