#section_3
  //cf()
  height 500px
  background url(../img/map.png) center center no-repeat


  position relative
  .btn
    position absolute
    bottom 0
    left 50%
    transform translateX(-50%)


  //.progress
  p
    width 33%
    padding 0 40px
    float left

    b,span
      display block
    b
      color  #3d6ddf
      font-size 20px
      text-align center
      margin-bottom 1em
    span
      color #6d99ff
      font-size 80px
      text-align center
      line-height 1.2


    &:nth-of-type(2)
      span
        font-size 146px
