#section_9

  cf()
  padding-bottom 30px


  h3
    color #000
    font-size 24px
  > div

    float left
    width 400px //370
    padding-right 30px


  .newslist
    width 600px
    float left
  article
    time
      color #888
      font-size 12px
    img
      float left
      margin-right 20px
    div
      overflow auto

    h3
      font-size 18px
      margin 0



  aside
    width 260px
    float left

    form, div
      border 2px solid #70ba4f
      padding 10px
      text-align center
    form
      margin-bottom 20px
      input
        width 100%
    //div
    h3
      font-size 16px
