#section_6
  padding 10px 0 40px
  background #EBF2F5
  border 1px solid #D6E3EA
  h3
    font-size 22px
    b
      color #5e93ef
      font-size 80px
      float left
      line-height 1
      margin -10px 20px 0 0
    span
      //margin 10px 0 0 10px
      overflow hidden

    p
      clear both

  .SLICK_s6
    float left
    width 650px
    margin-right 50px
