#section_2

  cf()
  padding 2em 0
  background url(../img/main2_bg.svg) #DDD
  box-shadow: 0 0 12px #556680

  .figure
    float left
    margin-right 30px
    width 163px
    figcaption
      font-size 14px
      font-style italic

  .figure + p
    overflow hidden




  .figureS
    width 760px
    float right
    //W205
    figure
      margin 1em
      float left
      width 205px
      position relative

    figcaption
      background #fafafa
      box-shadow 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24)

      color #333333
      font-size 14px
      line-height 18px
      text-decoration underline

      position absolute
      z-index 1
      bottom -20px
      left 50%
      margin-left -70px
      width 140px
      height 48px

      text-align center

      a
        color: #333
        line-height: 120%
        position absolute
        left 50%
        top 50%
        transform translate(-50%,-50%)
