#section_4
  padding-top 30px
  text-align center
  h2 a
    color inherit
    line-height 1
    &.active
      background #ededed
      border-radius 5px
      text-decoration none
      padding 0 30px 10px

  //костыль
  //.SLICK_s4
  //width 100%
  //overflow-x hidden
  //overflow hidden
  //width 1980px
  //margin 0 auto

  // .SLICK_s4
  //   img
  //     width 622px
  //     height 275px
