#section_10
  background url(../img/pattern_furniture.png)#0B47B1
  border-bottom 6px solid #008fff

  color #FFF

  img
    float left
    margin 10px 80px

  .wrap
    padding 40px 0
    background url(../img/S10-img.png) 80% center no-repeat

  .txt
    overflow auto
