#section_2

  cf()
  padding 2em 0 3em
  background url(../img/main2_bg.svg) #DDD
  box-shadow: 0 0 12px #556680

  h2
    margin 0 0 .5em
    //margin 0
    //text-align left

  .figure
    float left
    margin-right 30px
    width 163px
    text-align center
    figcaption
      font-size 14px
      font-style italic

  span
    overflow auto

  .figureS
    width 760px
    float right
    //W205
    figure
      margin 1em
      float left
      width 205px
      position relative

    figcaption
      background #fafafa
      box-shadow 1px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24)

      text-decoration underline

      position absolute
      //z-index 1
      bottom -20px
      left 50%
      margin-left -70px
      width 140px
      height 48px

      text-align center

      a
        color: #333
        line-height: 120%
        position absolute
        left 50%
        top 50%
        transform translate(-50%,-50%)
