#section_8
  cf()
  position relative
  text-align center
  .catalogsPDF
    div
      span(1/5)
      p:nth-of-type(1)
        font-size: 22px

      p:nth-of-type(2)
        color #999
        text-align center
        font-style italic

  //a
  .more
    clear both
    margin 4em 0
    font-size 16px
    font-style italic
    display block
    color #999
