#section_7

  // .SLICK_s7
  //   padding 1em 0


  cf()
  //width 100%
  .review
    img
      width 163px
      height 214px
      float left
      margin-right 60px
  .review_txt
    //overflow auto
    //display inline-block

    float right
    width 1000px//50%
    border 2px solid #c2c2c2
    position relative
    padding 80px 1em 1em


  .review_num,.review_from
    position absolute
    z-index 1
    background #FFF
  .review_num
    right 10px
    top -12px
    padding 0 .5em
    color #999

  .review_from
    top 10px
    left -50px
    background #FFF
    padding 10px 0 20px

    font-size 26px
    line-height 1
    i
      display block
      font-size 12px
