#section_9

  cf()
  padding-bottom 30px
  position relative

  h3
    color #000
    font-size 24px


  .first-news, .newslist
    float left
    margin-right 30px
  .first-news
    width 380px //370

  .newslist
    width 590px

  article
    time
      color #888
      font-size 12px
    img
      float left
      margin-right 20px
    div
      overflow auto

    h3
      font-size 18px
      margin 0



  aside
    width 210px
    float left

    form, div
      border 2px solid #70ba4f
      padding 10px
      text-align center
    form
      margin-bottom 20px
      input
        width 100%
    //div
    h3
      font-size 16px
