#section_4
  padding-top 30px
  h2 a
    color inherit
    line-height 1
    &.active
      background #ededed
      border-radius 5px
      text-decoration none
      padding 0 30px 10px

  //костыль
  //.SLICK_s4
  width 100%
  //overflow-x hidden
  overflow hidden
