//base
.slick-slider
  position relative
  //display block
  user-select none
  touch-action pan-y
  -webkit-tap-highlight-color transparent
  // .slick-track,.slick-list
  //   transform translate3d(0, 0, 0)

.slick-list
  //position relative
  //margin 0
  //padding 0
  overflow hidden

  &:focus
    outline none
  &.dragging
    cursor pointer
    cursor hand

.slick-track
  position relative
  cf()

.slick-loading
  .slick-track
    visibility hidden
  .slick-slide
    visibility hidden

.slick-slide
  display none
  float left
  height 100%
  //min-height 1px
  img
    display block
  &.slick-loading img
    display none
  &.dragging img
    pointer-events none

.slick-initialized .slick-slide
  display block

.slick-vertical .slick-slide
    display block
    height auto
    border 1px solid transparent

.slick-arrow
  &.slick-hidden
    display none



/*
>>> Тема

Previous, Next, номер - все экшены на button
поэтому скрываем кнопку и экшены рисуем чере before
*/
killBtn()
  line-height 0px
  font-size 0px
  color transparent
  background transparent






.slick-loading .slick-list
  background #EEE //#fff url('./ajax-loader.gif') center center no-repeat

.slick-disabled:before
  opacity .25



.slick-arrow
  killBtn()
  btn-green()

  position absolute
  top 50%
  transform translate(0, -50%)
  width 30px

  &:before
    color white
    font-size 20px
    line-height 9px //костыль

.slick-prev
  left -50px
  &:before
    content '❮'
.slick-next
  right -50px
  &:before
    content '❯'


.slick-vertical
  .slick-arrow
    left 50%
    right none
    top none
  .slick-prev
    top -10px
    &:before
      content '▲'
  .slick-next
    bottom -110px
    &:before
      content '▼'


//UL
.slick-dots
  padding 0
  margin 40px 0 0

  text-align center
  li
    position relative
    display inline-block
    margin 0 10px
    //padding 0
    //cursor pointer
    button
      killBtn()
      width 12px
      height 12px

      &:before
        content ''

        position absolute
        top 0
        left 0
        width 10px
        height 10px
        background #6fb94d
        border-radius 50%

    &.slick-active
      button
        &:before
          transform scale(2)
