
@import 'jeet'




@import 'base/main'
@import 'blocks/header'


@import 'blocks/section_2'

@import 'blocks/section_3'
@import 'blocks/section_4'

@import 'blocks/section_5'
@import 'blocks/section_6'


@import 'blocks/section_8'
@import 'blocks/section_9'
@import 'blocks/section_10'


@import 'blocks/footer'

@import 'blocks/slick'
