
/*
http://fonts4web.ru/segoeui.html
Код для подключения шрифта в /css/stylename.css
*/

@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

f-l()
  font-family "SegoeUILight"
f-n()
  font-family "SegoeUIRegular"
f-b()
  font-family "SegoeUIBold"

*
  box-sizing border-box
  font inherit


html,body
  width 100%
  height 100%

body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  margin 0
  font 14px/1.4 "SegoeUIRegular"
  color #333
  min-width 1300px



.catalog_start
  box-shadow 0 0 12px #556680
  background #f6f5f3
  padding 4em 0 2em
  margin-top -49px
  border-top 5px solid #008fff

.after_header
  background #FFF
  padding 4em 0 2em
  margin-top -49px
  border-top 5px solid #008fff
  border-bottom 5px solid #008fff

b, h3
  f-b()

ul
  list-style none



.breadcrumbs
  padding-left 1em
  color #999
  a
    color #999
    &:hover
      text-decoration underline
    &.back
      display block
      margin 1em 0 0 2em
      position relative
      &:before
        position absolute
        left -20px
        content '⬅ '//←
        color #50aaf8
        text-decoration none
        //font-family arial
        //font-weight bold


//кнопки "MORE"
.center
  padding 2em 0
  clear both
  text-align center
//.pagination
.pages
  margin-top -4em //костыль
  a
    display inline-block
    width 35px
    height 35px

    border 1px solid #c1c1c1
    border-radius 3px

    color #a7a7a7
    //text-decoration none

    font-size 20px
    line-height 32px
    margin 1em
    &:hover,
    &:focus
      background #f8f8f8


.js-tab
  display none
  &.current
    display block


// section .js-tab:nth-child(1)
//   display block


.jsNoScroll
  overflow hidden


.wrap
  //width 1240px
  width 1300px
  padding 0 30px
  margin 0 auto

//$wrap = 1240px





section
  .subnav
    position absolute
    right 0
    top 50px
    color  #999 //для разделителя
    a
      color  #999
      //text-decoration none
      &:hover
        border-bottom 1px dashed
      &.tab_current
        text-decoration underline
        border-bottom 0

  h2
    text-align center
    font-size 36px
    //color #333









//social
.icon
  border-radius 3px
  display inline-block
  width 32px
  height 32px
  &.vk
    background url(../img/i-vk.png) center no-repeat #45759e
    &:hover
      background-color #5088b7
    &:active
      background-color #385e7f
  &.f
    background url(../img/i-f.png) center no-repeat #175696
    &:hover
      background-color #1d6ab8
    &:active
      background-color #154a81
  &.youtube
      background url(../img/i-youtube.png) center no-repeat #ff0000
    &:hover
      background-color #ff3d3d
    &:active
      background-color #df0000




.countries

  a
    &:before
      content ''
      display inline-block



      height 16px
      width 20px

      // .active
      //   background rgba(0, 158, 224, 0.77)
      //   width: 32px
      //   height: 26px
      //
      //

    &.ru:before
      background url(../img/i-flag-ru.png) center no-repeat
    &.en:before
      background url(../img/i-flag-en.png) center no-repeat
    &.ger:before
      background url(../img/i-flag-ger.png) center no-repeat
    &.spain:before
      background url(../img/i-flag-spain.png) center no-repeat
    &.china:before
      background url(../img/i-flag-china.png) center no-repeat



.Hform .countries
  position absolute
  right 0
  top -38px
  a
    &:before
      width: 32px
      height: 26px
    &.ru:before
      background-color rgba(0, 158, 224, 0.77)

#bigNav .countries a
  margin 0
  &:before
    margin-right .5ex
    vertical-align middle
