
/*
http://fonts4web.ru/segoeui.html
Код для подключения шрифта в /css/stylename.css
*/

@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


*
  box-sizing border-box
  font inherit


html,body
  width 100%
  height 100%



body

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  margin 0

  font 14px/1.4 "SegoeUIRegular"
  //font 14px/1.4 SegoeUIRegular sans-serif
  //font-family SegoeUIRegular, sans-serif


  color #333
  min-width 1300px

h1
  font-family "SegoeUILight"

b, h3
  font-family: "SegoeUIBold"




.center //кнопки "MORE"

  padding 30px 0
  clear both
  text-align center
//.pagination
.pages
  margin-top -4em //костыль
  a
    display inline-block
    width 35px
    height 35px

    border 1px solid #c1c1c1
    border-radius 3px

    color #a7a7a7
    text-decoration none

    font-size 20px
    line-height 32px
    margin 1em


.js-tab
  display none
  &.current
    display block

//
// section .js-tab:nth-child(0)
//   display block
//




.wrap
  //width 1260px
  width 1300px
  padding 0 30px
  margin 0 auto







section
  .subnav
    position absolute
    right 0
    top 50px
    color  #999 //для разделителя
    a
      color  #999
      text-decoration none
      &:hover
        border-bottom 1px dashed
      &.tab_current
        text-decoration underline
        border-bottom 0

  h2
    text-align center
    font-size 36px
    //color #333





[placeholder]
  font-size 16px
  //font-family: //arial
  //padding 0 1em

textarea
  padding: 1em

input,textarea
  border 1px solid #c4c4c4

  //padding-bottom: 1em

input
  height 36px
  line-height 36px
  padding: 0 1em

  margin-bottom 1em

input,button,textarea
  &:focus
    box-shadow none
    outline none



//button, input[type="submit"]
button, .btn, input[type="submit"]
  cursor pointer
  padding 0 2em
  color #FFF
  border 0
  border-radius 3px
  font-size 16px

  line-height 36px
  height 37px

  background linear-gradient(90deg, #6d99ff 0%, #3c6cde 100%)
  &:hover
    background  #6491f9
  &:active
    background  #4b7cef


.btn
  display inline-block
  text-decoration none

btn-green()
  background #7cb342
  &:hover
    background  #95c561
  &:active
    background  #71a23c

.btn-green
  background #7cb342
  &:hover
    background  #95c561
  &:active
    background  #71a23c




//social
.icon
  border-radius 3px
  display inline-block
  width 32px
  height 32px
  &.vk
    background url(../img/i-vk.png) center no-repeat #45759e
    &:hover
      background-color #5088b7
    &:active
      background-color #385e7f
  &.f
    background url(../img/i-f.png) center no-repeat #175696
    &:hover
      background-color #1d6ab8
    &:active
      background-color #154a81
  &.youtube
      background url(../img/i-youtube.png) center no-repeat #ff0000
    &:hover
      background-color #ff3d3d
    &:active
      background-color #df0000
